<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FindNue</title>
  <link rel="shortcut icon" type="image/png" href="images/findnuesmallwhite6.png">
  <link rel="stylesheet" href="css/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script src="js/scripts.js"></script>
</head>

<body>
  <!--Nav Bar-->
  <nav class="navbar">
    <div class="navbar-inner-width">
      <div class="min-menu">
        <span class="nav-logo home">
          <a class="home" href="./dashboard">
            <h1>FindNue</h1>
          </a>
        </span>
        <button class="menu-toggler home">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="navbar-menu home">
        <ul class="stockx-nav home">
          <a href="./dashboard" class="logo"></a>
          <a href="./search">
            <i class="icon fas fa-search index-search-nav home"></i>
          </a>
          <input type="text" class="nameZoneNav" placeholder="Search...">
          <li>
            <a href="./mens">Mens</a>
          </li>
          <li>
            <a href="./womens">Womens</a>
          </li>
          <li>
            <a href="./about">About</a>
          </li>
          <li>
            <a href="./news">News</a>
          </li>
          <li>
            <a href="./login">Account</a>
          </li>

          <!--
                        <li>
                        <a href="sell.html">Sell</a>
                    </li>
                        <li>
                            <a href="help.html">Help</a>
                        </li>
                        
                        <li>
                            <a href="account.html">Account</a>
                        </li>
                        <li>
                            <a href="login.html">Login</a>
                        </li>-->

        </ul>
      </div>
    </div>
  </nav>

  <!-- Welcome -->
  <section id="welcome-home">

    <div class="welcome-picture">
      <h1>Find New Brands</h1>
      <div class="middle">
        <span class="home-search">
          <i class="fas fa-search home-search"></i>
          <a href="search.html">
            <input type="text" class="nameZoneHome" placeholder="Search...">
          </a>
        </span>
      </div>

    </div>



  </section>


  <!--Home-->
  <section id="home">
    <div class="inner-width">
      <div class="content">
        <h1>Up & Coming</h1>

        <div class="buttons">
          <a href="buy.html">BUY</a>
          <a href="sell.html">SELL</a>
        </div>

      </div>
    </div>
  </section>

  <!-- Pictures-->
  <section id="works" class="dark">
    <div class="inner-width">
      <h1 class="section-title">FEATURED BRANDS</h1>
      <div class="works">
        <a href="images/stock-beach.jpg" class="work">
          <img src="images/stock-beach.jpg" alt="f">
          <div class="info">
            <h3>Cobbles Classic</h3>
            <div class="cat">$$$</div>
          </div>
        </a>
        <a href="images/stock-dont.jpg" class="work">
          <img src="images/stock-dont.jpg" alt="f">
          <div class="info">
            <h3>Don't Lie</h3>
            <div class="cat">$$$</div>
          </div>
        </a>
        <a href="images/stock-nyc.jpg" class="work">
          <img src="images/stock-nyc.jpg" alt="f">
          <div class="info">
            <h3>Custom NYC</h3>
            <div class="cat">$$$</div>
          </div>
        </a>

        <a href="images/stock-graffiti2.jpeg" class="work">
          <img src="images/stock-graffiti2.jpeg" alt="f">
          <div class="info">
            <h3>Wise Winds</h3>
            <div class="cat">$$$</div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <!-- Services-->
  <section id="services" class="dark">
    <div class="inner-width">
      <h1 class="section-title">Categories</h1>
      <div class="services">
        <div class="service">

          <span>Vintage</span>
        </div>

        <div class="service">

          <span>Street Wear</span>
        </div>

        <div class="service">

          <span>Hoodies</span>
        </div>

        <div class="service">

          <span>Shorts</span>
        </div>

        <div class="service">

          <span>Summer Wear</span>
        </div>

        <div class="service">

          <span>View All</span>
        </div>
      </div>
    </div>
  </section>

  <!--Footer-->
  <footer>
    <div class="login">
      <div class="copyright">
        &copy; 2020 | FindNue
      </div>
      <div class="sm">
        <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
        <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
        <a href="https://www.instgram.com/" class="fab fa-instagram"></a>
        <a href="https://www.linkedin.com/" class="fab fa-linkedin-in"></a>
        <a href="https://www.youtube.com/" class="fab fa-youtube"></a>
      </div>
    </div>
  </footer>

  <!--Go Top BTN-->
  <button class="goTop fas fa-arrow-up"></button>
</body>

</html>