<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FindNue</title>
  <link rel="shortcut icon" type="image/png" href="images/findnuesmallwhite6.png">
  <link rel="stylesheet" href="../css/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script src="../js/scripts.js"></script>
</head>

<body>
  <!--Nav Bar-->
  <nav class="navbar">
    <div class="navbar-inner-width">
      <div class="min-menu">
        <span class="nav-logo">
          <div class="navbar-logo-home">

          </div>
          <a href="../">
            <h1>FindNue</h1>
          </a>

        </span>
        <button class="menu-toggler ">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="navbar-menu">
        <ul class="stockx-nav">
          <a href="../" class="logo">
            <span class="nav-logo mobile">
              <img src="images/logoblack.png" alt=".">
            </span>
          </a>
          <i class="icon fas fa-search index-search-nav"></i>
          <input type="text" class="nameZoneNav" placeholder="Search...">
          <li>
            <a href="./mens">Mens</a>
          </li>
          <li>
            <a href="./womens">Womens</a>
          </li>
          <li>
            <a href="./about">About</a>
          </li>
          <li>
            <a href="./news">News</a>
          </li>
          <li>
            <a href="./login">Account</a>
          </li>
          <!--
                        <li>
                        <a href="sell.html">Sell</a>
                    </li>
                        <li>
                            <a href="help.html">Help</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <li>
                            <a href="account.html">Account</a>
                        </li>
                        <li>
                            <a href="login.html">Login</a>
                        </li>-->

        </ul>
      </div>
    </div>
  </nav>






  <!-- Welcome -->
  <section id="account-shop">
    <h1 class="section-title"> {{ name }}'s Following</h1>

    <div class="shop-stats">
      <h2>Who you follow: </h2>
      <p> Brands: </p>
      <p> Sellers: </p>
      <p> People: </p>
      <p> Analytics: </p>
    </div>
  </section>





  </section>



  <!--Footer-->
  <footer>
    <div class="login">
      <div class="footer-links">
        <ul>
          <h3>Quick Links</h3>
          <li>
            <a href="./">Home</a>
          </li>
          <li>
            <a href="./mens">Mens</a>
          </li>
          <li>
            <a href="./womens">Womens</a>
          </li>
          <li>
            <a href="./about">About</a>
          </li>
          <li>
            <a href="./news">News</a>
          </li>
          <li>
            <a href="./account">Account</a>
          </li>
        </ul>
      </div>
      <div class="footer-links">
        <ul>
          <h3>Your Account</h3>
          <li>
            <a href="./account">Account</a>
          </li>
          <li>
            <a href="./account/security">Security</a>
          </li>
          <li>
            <a href="./account/shop">Shop</a>
          </li>
          <li>
            <a href="./account/info">Info</a>
          </li>
          <li>
            <a href="./account/following">Following</a>
          </li>
          <li>
            <a href="./account/orders">Orders</a>
          </li>
          <li>
            <a href="./account/settings">Settings</a>
          </li>
        </ul>
      </div>
      <div class="footer-links">
        <ul>
          <h3>View</h3>
          <li>
            <a href="./search">Vintage</a>
          </li>
          <li>
            <a href="./account">Street Wear</a>
          </li>
          <li>
            <a href="./account">Hoodies</a>
          </li>
          <li>
            <a href="./account">Shorts</a>
          </li>
          <li>
            <a href="./account">Summer Wear</a>
          </li>
          <li>
            <a href="./account">View All</a>
          </li>
        </ul>
      </div>
      <div class="sm footer-links">
        <a href="https://www.facebook.com/" class="footer-fab fab fa-facebook-f"></a>
        <a href="https://www.twitter.com/" class="footer-fab fab fa-twitter"></a>
        <a href="https://www.instgram.com/" class="footer-fab fab fa-instagram"></a>
        <a href="https://www.linkedin.com/" class="footer-fab fab fa-linkedin-in"></a>
        <a href="https://www.youtube.com/" class="footer-fab fab fa-youtube"></a>
      </div>

      <div class="copyright footer-links">
        &copy; 2020 | FindNue
      </div>
    </div>
  </footer>

  <!--Go Top BTN-->
  <button class="goTop fas fa-arrow-up"></button>
</body>

</html>