<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign-Up | FindNue</title>
  <link rel="shortcut icon" type="image/png" href="images/findnuesmallwhite6.png">
  <link rel="stylesheet" href="css/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script src="js/scripts.js"></script>
</head>

<body>


  <!-- Login -->
  <section id="login">
    <div class="login-form">
      <div class="logo-code">
        <a href="./dashboard"><img src="images/findnue-text.png" alt="."></a>
      </div>



      <h6>Sign Up</h6>

      <form action="">
        <div class="textbox">
          <input type="text" placeholder="First Name">
          <span class="check-message hidden">Required</span>
        </div>
        <div class="textbox">
          <input type="text" placeholder="Last Name">
          <span class="check-message hidden">Required</span>
        </div>
        <div class="textbox">
          <input type="text" placeholder="Username">
          <span class="check-message hidden">Required</span>
        </div>
        <div class="textbox">
          <input type="email" placeholder="Email">
          <span class="check-message hidden">Required</span>
        </div>
        <div class="textbox">
          <input type="password" placeholder="Password">
          <span class="check-message hidden">Required</span>
        </div>

        <div class="options">
          <label class="remember-me">
            <span class="checkbox">
              <input type="checkbox">
              <span class="checked"></span>
            </span>
            Remember me
          </label>


          <a href="#">Forgot Password?</a>

        </div>

        <input type="submit" value="Log In Now" class="login-btn" disabled>
        <div class="privacy-link">
          <a href="#">Privacy Policy</a>
        </div>

      </form>

      <div class="dont-have-account">
        Already an account?
        <a href="/login">Login</a>
      </div>

    </div>
  </section>


</body>

</html>